.pytest_cache/
htmlcov/
.coverage
node_modules/
.vscode/
dist/
build/
*.log
*.pyc
__pycache__/
*.sqlite
extension.js
extension.js.map
createIgnoreFile.js
createIgnoreFile.js.map
generateSchema.js
generateSchema.js.map
out/
.vsix